{% extends "base.html" %}

{% block content %}
<div class="posts">
    {% for post in posts %}
        <section class="post">
            <header class="post-header">
                <h2 class="post-title">{{ post.title }}</h2>

                    <p class="post-meta">
                        Time:  <a class="post-author" href="#">{{ post.timestamp }}</a>
                    </p>
            </header>

                <div class="post-description">
                    <p>
                        {{ post.body }}
                    </p>
                </div>
        </section>
    {% endfor %}
<form class="pure-form">
    <fieldset>
        <legend>一个简单的单行表单</legend>

        <input type="email" placeholder="Email">
        <br>
        <input type="text" width="50px">

        <label for="remember">
            <input id="remember" type="checkbox"> 记住我
        </label>

        <button type="submit" class="pure-button pure-button-primary">登录</button>
    </fieldset>
</form>
</div><!-- /.blog-post -->
{% endblock %}