{% extends "base.html" %}

{% block content %}
    <h1>You are writing a Post! 🐂🍵</h1>
<form class="pure-form" method="post">
    <fieldset>
        <legend>Title</legend>

        <input type="text" name="blog_title" class="pure-input-1-2"  placeholder="You may start with a title ...">
        <br>
        <br>
        <legend>Content</legend>
        <textarea rows="20" name="blog_content" class="pure-input-1"  placeholder=" What's in your mind? 🤔"></textarea>
        <br>
        <br>
        <button type="submit" class="pure-button pure-button-primary">Submit the Post</button>
        <a class="pure-button pure-button-primary" href="/blog/">Back to Homepage</a>
    </fieldset>
</form>
{% endblock %}